#citizenship
  .container
    .span6
      .contain
        %h1{:style => "line-height: 1.5;"} Prepare to become a U.S. Citizen!

        .question
        %input.response{:type => "text", :style => "vertical-align: top;"}
        %input.respond.btn.btn-primary{:type => "submit", :value =>"Submit"} 

        %p.answer.show

        .next.show.btn.btn-large.btn-success Next